@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="6000">
    <h3>Welcome to DNP Cinema. First user to register is a manager!</h3>
    <h5>Use WEB API: </h5>
    <p><a href="/api/movies">/api/movies</a>, /api/movies/{id:int}</p>
    <p><a href="api/schedule">/api/schedule</a>, /api/schedule/{id:int}</p>
</div>