@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="6000">
    <h3>Welcome to DNP Cinema. First user to register is a manager!</h3>
</div>
